{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Liste des produits </h1>
        <br>
        {% include 'layout/_flash_message.html.twig' %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>stock</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.description|slice(0,60)}}...</td>
                    <td>{{ produit.prix }}</td>
                    <td>
                        {% if produit.stock >0 %}
                           {{ produit.stock }}
                        {% else %}
                            <span class="text-danger"> Stock epuisé</span>
                        {% endif %}
                    </td>


                    <td>
                        <a class="btn btn-primary" href="{{ path('app_produits_show', {'id': produit.id}) }}">voir</a>
                        <a class="btn btn-outline-success" href="{{ path('app_produits_edit', {'id': produit.id}) }}">modifier</a>
                        <a class="btn btn-outline-info" href="{{ path('app_produits_stock_add',{'id':produit.id}) }}" > Ajouter le stock</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('app_produits_new') }}">Ajouter un nouveau produit</a>
    </div>

{% endblock %}
