<div style="font-family: Arial, sans-serif; font-size: 14px; color: #000; margin: 20px; max-width: 700px;">
    <h1 style="font-size: 20px; margin-bottom: 10px;">Confirmation de votre commande n° {{ order.id }}</h1>
    <p style="margin-bottom: 20px;">Merci pour votre commande !<br>
        Date : {{ order.createdAt|date("d/m/Y H:i") }}</p>

    <h4 style="font-size: 16px; margin-bottom: 10px;">Détails de la commande</h4>



            {% for product in order.produitsCommandes %}
                <div style="display: flex; padding: 6px 10px; border-top: 1px solid #ddd; align-items: center;">
                    <div style="flex: 3;">{{ product.produit.nom ?? 'Produit indisponible' }}</div>
                    <div style="flex: 5; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{ product.produit.description|slice(0,50) }}{% if product.produit.description|length > 50 %}...{% endif %}
                    </div>
                    <div style="flex: 1; text-align: right;">{{ product.produit.prix ?? '-' }} DT</div>
                    <div style="flex: 1; text-align: right;">{{ product.quantite ?? '-' }}</div>
                    <div style="flex: 1; text-align: right;">
                        {{ (product.quantite * product.produit.prix)|default(0) }} DT
                    </div>
                </div>
            {% endfor %}
        </div>


    <div style="margin-top: 20px; max-width: 300px;">
        <div style="display: flex; justify-content: space-between; font-weight: bold; padding: 6px 0;">
            <span>Frais de livraison</span>
            <span>{{ order.ville.shippingCost }} DT</span>
        </div>
        <div style="display: flex; justify-content: space-between; font-weight: bold; padding: 6px 0; font-size: 18px;">
            <span>Total à payer</span>
            <span>{{ order.prixTotal }} DT</span>
        </div>
    </div>

    <p style="margin-top: 30px;">
        Si vous avez des questions, n'hésitez pas à nous contacter. Merci de votre confiance !
    </p>
</div>
